 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Pngtreehitechabstractblueand_1199241.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 358px;
}

.u-section-1 .u-text-1 {
  margin: 140px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 826px;
  margin: 13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 128px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-2 .u-icon-1 {
  height: 105px;
  width: 105px;
  background-image: none;
  margin: 55px auto 0;
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  width: 737px;
  margin: 26px auto 0;
}

.u-section-2 .u-form-1 {
  height: 568px;
  background-image: linear-gradient(to right, #4d19a9, #9e70f0);
  width: 807px;
  margin: 71px auto 0;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
}

.u-section-2 .u-form-group-5 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #c6abf7, #4d19a9);
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 70%;
  padding: 14px 30px 15px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 36px;
  min-height: 16px;
  width: 203px;
  min-width: 124px;
  margin: 43px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  padding: 20px;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 304px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 15px 22px;
}

.u-section-3 .u-text-1 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 0 83px;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #222589, #9e70f0);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0px;
  box-shadow: -4px 7px 36px 0 rgba(158,112,240,1);
  margin: 38px auto 51px;
  padding: 29px 43px 31px 42px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 33px;
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 485px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 26px;
    padding-right: 23px;
    padding-left: 23px;
  }
}